*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}


.prix
/*mise en valeur du prix des chambres*/

    {
    font-weight: 600;
}

.avis
/*etoiles pleines*/

    {
    color: #0065FC;
    font-size: 0.8em;
}

.uncheck
/*etoiles vides*/

    {
    color: #F2F2F2;
}



.main {
    max-width: 1340px;
    width: 100%;
    margin: auto;
    padding-left: 20px;
  }
  
  /* Header */
  
  header {
    display: flex;
    max-width: 1340px;
    width: 100%;
    height: 130px;
    color: #0065fc;
  }
  
  .header__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .header__logo {
    display: flex;
    align-items: center;
    width: 80%;
  }
  
  .header__navigation {
    display: flex;
    justify-content: center;
    color: #0065fc;
    font-size: 16px;
  }
  
  nav {
    display: flex;
  }
  
  nav ul {
    display: flex;
    /*aligne les div dans le menu navigation*/
  }
  
  nav li {
    display: flex;
  }
  
  a {
    font-weight: 600;
  }
  /* menu de navigation */
  .block {
    display: flex;
    padding-top: 58px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .nav1 a {
    color: black;
  }
  
  .nav2 a {
    color: black;
  }
  
  .block:hover {
    border-top: solid;
    border-color: #0065fc;
  }
  
  .header__inscription {
    /*s'inscrire*/
    display: flex;
    margin-left: 30px;
    justify-self: flex-end;
    padding-top: 3px;
    align-items: center;
  }
  
  .header__inscription a {
    color: #0065fc;
  }
  
  /*Début de page*/
  
  /*section1*/
  
  #section1 {
    width: 100%;
  }
  
  .section1head__texte {
    margin-top: 16px;
    margin-bottom: 23px;
  }
  
  /* bloc recherche */
  
  .section1__search1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
  
  .search1__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f2f2f2;
    border: solid #f2f2f2f6;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 50px;
    width: 50px;
  }
  
  #site-search
  /*formulaire*/
  
    {
    height: 50px;
    width: 237px;
    border-top: solid;
    border-bottom: solid;
    border-right: none;
    border-left: none;
    border-color: #f2f2f2;
    font-weight: bold;
  }
  
  .boutton_mot {
    border: solid #0065fcf6;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 8em;
    height: 50px;
    margin-left: -5px;
  }
  
  .boutton_loupe {
    display: none;
  }

  .loupe {
    color: white;
}

  .boutton_mot:hover {
    cursor: pointer;
  }
  
  .section1__filtres {
    display: flex;
    align-items: center;
    margin-top: 30px;
    /*influe sur la position de la ligne*/
    margin-bottom: 26px;
  }
  
  .rubrique {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    border: 3px #f2f2f2 solid;
    border-radius: 45px;
    height: 48px;
    margin-bottom: -2px;
    margin-top: -2px;
    margin-left: -2px;
  }
  
  .rubrique:hover
  /*option survol des rubriques filtres*/
  
    {
    border: solid;
    border-color: #f2f2f2;
    color: red;
    cursor: pointer;
  }
  
  .iconefilter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    color: #0065fc;
    background-color: #deebff;
    width: 2.5em;
    height: 2.5em;
    border-radius: 34px;
    padding: 1px;
    margin-right: 13px;
    margin-bottom: -2px;
    margin-top: -2px;
    margin-left: -2px;
  }
  
  .filters__titre {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 25px;
  }
  
  .theme {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 0px;
    margin-right: 40px;
  }
  
  .sujet {
    margin-right: 20px;
    font-weight: bold;
    font-size: 1em;
  }
  
  .section1__info {
    display: flex;
    align-items: center;
  }
  
  .info__texteinfo {
    padding: 0 0 0 15px;
    margin-bottom: 20px;
  }
  
  .info__picture {
    display: flex;
    font-size: 0.9em;
    /*reglage de la taille du petit i*/
    color: #0065fc;
    border: solid;
    border-color: #f2f2f2;
    width: 2em;
    height: 2em;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
  }
  
  /*milieu de page*/
  
  .midcontainer {
    display: flex;
    width: 100%;
    column-gap: 50px;
  }
  
  /* section2 hebergements*/
  
  #section2 {
    display: flex;
    flex-direction: column;
    width: 880px;
    background-color: #f2f2f2;
    height: 100%;
    border-radius: 16px;
  }
  
  /*titre*/
  
  .section2head {
    display: flex;
    margin-top: 45px;
    margin-bottom: 30px;
    margin-left: 40px;
  }
  
  /*body section 2 pannel des offres*/
  
  .section2body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 40px;
    justify-content: space-between;
  }
  
  .section2__row {
    width: 248px;
    height: 200px;
    border-radius: 16px;
    padding: 5px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 4px 3px 15px 2px #e9e5e5;
  }
  
  .pic2 {
    width: 236px;
    height: 114px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .section2__texte2 {
    margin: 15px 0px 10px 12px;
    color: black;
  }
  
  .texte2__header {
    font-weight: 800;
  }
  
  .texte2__body {
    margin-top: 10px;
    font-weight: 300;
  }
  
  .texte2__footer {
    margin-top: 8px;
  }
  
  .section2__footer {
    margin: 10px 0px 50px 40px;
  }
  
  .section2__footer a {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  /* section 3 les plus populaires*/
  
  #section3 {
    max-width: 420px;
    background-color: #f2f2f2;
    border-radius: 16px;
  }
  
  .section3head {
    display: flex;
    margin: 45px 37px 30px;
    justify-content: space-between;
  }
  
  .section3head__item {
    font-size: 1.5rem
  }
  /*body pannel des offres*/

  .section3body {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section3__row {
    display: flex;
    width: 355px;
    margin: 0px 37px 30px;
    padding: 5px 5px;
    border-radius: 16px;
    margin-bottom: 30px;
    box-shadow: 4px 3px 15px 2px #e9e5e5;
    background-color: white;
  }
  
  .pic3 {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 126px;
    height: 133px;
    object-fit: cover;
  }
  
  .section3__texte3 {
    display: flex;
    flex-direction: column;
    color: black;
    margin: 21px 50px 14px 21px;
  }
  
  .texte3__body {
    margin-top: 14px;
    font-weight: 300;
  }
  
  .texte3__footer {
    margin-top: 25px;
  }
  
  /*Fin de page*/
  /* section4 activités*/
  
  #section4 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .section4head {
    display: flex;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 25px;
  }
  
  .section4body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  
  .section4body__row {
    max-width: 300px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 20px;
  }
  
  .section4__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .section4__title4 {
    width: 100%;
    background-color: white;
    color: black;
    min-height: 55px;
    padding: 20px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 4px 3px 15px 2px #e9e5e5;
  }
  
  .section4__picture img {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }
  
  .pic4__portrait {
    width: 300px;
    height: 390px;
    object-fit: cover;
  }
  
  .pic4__paysage1 {
    width: 300px;
    height: 180px;
    object-fit: cover;
  }
  
  .pic4__paysage2 {
    width: 300px;
    height: 110px;
    object-fit: cover;
  }
  
  .pic4__paysage3 {
    width: 300px;
    height: 140px;
    object-fit: cover;
  }
  
  .pic4__paysage4 {
    width: 300px;
    height: 150px;
    object-fit: cover;
  }
  
  /*Footer*/
  
  footer {
    display: flex;
    width: 100%;
    height: 219px;
    background-color: #f2f2f2;
    padding-left: 20px;
  }
  
  .footer__row {
    display: flex;
    max-width: 1340px;
    width: 100%;
    max-height: 100%;
    margin: auto;
    margin-top: 44px;
  }
  
  .footer__row a {
    color: black;
  }
  
  .row__titre {
    margin-bottom: 25px;
  }
  
  .footer__row p {
    margin-bottom: 10px;
    font-weight: 300;
  }
  
  .p1 {
    width: 33%;
  }
  
  .p2 {
    width: 33%;
    margin-left: 10px;
  }
  
  .p2 {
    width: 33%;
    margin-left: 20px;
  }
