@-moz-document url-prefix() {
  html, body {
    overflow-x: auto !important;
  }
  html {
    overflow: -moz-scrollbars-none !important;
  }
  body {
    scrollbar-width: none;
  }
  .section4body__row {
    display: block !important;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

p {
  font-size: 14px;
  padding-bottom: 0px;
}

header {
  display: flex;
  color: #0065FC;
}

nav li {
  list-style-type: none;
  /*sans les puces*/
}

nav a:hover
/*survol au dessus*/

  {
  color: #0065FC;
}

a {
  text-decoration: none;
  cursor: pointer;
  /*curseur se transforme en petit doight quand on passe sur le champs*/
  opacity: 0.9;
  font-weight: 600;
}

.header__row {
  display: flex;
  width: 100%;
}

.header__logo {
  display: flex;
}

.header__inscription
/*s'inscrire*/

  {
  display: flex;
  align-items: center;
}

.header__inscription a {
  color: #0065fc;
}

.block {
  display: flex;
}

.block:hover {
  border-color: #0065fc;
}

/*Début de page*/

/*section1*/

#section1 {
  width: 100%;
}

/* bloc recherche */

.section1__search1 {
  display: flex;
}

/* Barre de recherche position*/

.iconeposition {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F2F2F2;
  border: solid #f2f2f2f6;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 46px;
  width: 50px;
}

#site-search
/*formulaire*/

  {
  height: 50px;
  border-top: solid;
  border-bottom: solid;
  border-right: none;
  border-left: none;
  border-color: #F2F2F2;
  font-weight: bold;
}

.boutton {
  border: solid #0065fcf6;
  background-color: #0065FC;
  color: red;
  font-weight: 600;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 8em;
  height: 50px;
  margin: -5px;
}

/* incone de l'onglet filtre*/

.section1__filtres {
  display: flex;
}

.iconeinfo {
  font-size: 1em;
  color: #0065FC;
  border: solid;
  border-color: #F2F2F2;
  width: 1.1em;
  height: 1.1em;
  border-radius: 20px;
  text-align: center;
}

.rubrique {
  display: flex;
  border: 3px #f2f2f2 solid;
  border-radius: 45px;
  height: 48px;
  margin-top: -2px;
  margin-left: -2px;
}

.rubrique:hover {
  /*option survol des rubriques filtres*/
  border: solid;
  border-color: #f2f2f2;
  color: red;
  cursor: pointer;
}

.iconefilter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0065fc;
  background-color: #deebff;
  width: 2.5em;
  height: 2.5em;
  border-radius: 34px;
  padding: 1px;
  margin-bottom: -2px;
  margin-top: -2px;
  margin-left: -2px;
  font-size: 1.2rem;
  margin-right: 11px;
}

.filters__titre {
  display: flex;
  align-items: center;
}

.theme {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.sujet {
  font-weight: bold;
  font-size: 1em;
  margin-right: 20px;
}

.section1__info {
  display: flex;
  align-items: center;
}

.info__texteinfo {
  margin-bottom: 25px;
}

.info__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  /*reglage de la taille du petit i*/
  color: #0065fc;
  border: solid;
  border-color: #f2f2f2;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20px;
  margin-bottom: 20px;
}

/*milieu de page*/

.midcontainer {
  display: flex;
  width: 100%;
}

/* section2 hebergements*/

#section2 {
  display: flex;
}

/*titre*/

.section2head {
  display: flex;
  margin-top: 40px;
}

/*body section 2 pannel des offres*/

.prix
/*mise en valeur du prix des chambres*/

  {
  font-weight: 600;
}

.avis
/*etoiles pleines*/

  {
  color: #0065FC;
  font-size: 0.8em;
}

.uncheck
/*etoiles vides*/

  {
  color: #F2F2F2;
}

.loupe {
  color: white;
}

.section2body {
  display: flex;
  flex-wrap: wrap;
}

.pic2 {
  height: 114px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.section2__row {
  background-color: white;
  padding: 5px;
  border-radius: 16px;
  box-shadow: 4px 3px 15px 2px #e9e5e5;
}

.texte2__body {
  font-weight: 400;
}

.texte2__footer {
  margin-top: 5px;
}

.section2__footer a {
  font-weight: 600;
  color: black;
}

/* section 3 les plus populaires*/

.section3head {
  display: flex;
}

.section3body {
  display: flex;
}

.section3__row {
  box-shadow: 4px 3px 15px 2px #e9e5e5;
  padding: 5px 5px;
  border-radius: 16px;
}

.texte3__body {
  font-weight: 300;
}

/*Fin de page*/

/* section4 activités*/

#section4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.section4head
/*titres des images dans la section4 -> activités*/

  {
  width: 100%;
}

.section4__conainer {
  justify-content: space-between;
}

.section4__picture img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

/*Fin de page*/

/*Footer*/

footer {
  width: 100%;
}

.footer__row {
  display: flex;
}
.row__titre {
  margin-bottom: 25px;
}

.footer__row a {
  color: black;
}
.footer__row p {
  margin-bottom: 15px;
  font-weight: 300;
}