@-moz-document url-prefix() {
  .pic2 {
    min-width: 335px;
  }
  .section4body__row {
    min-width: 335px;
  }
}

.header__row {
  flex-wrap: wrap;
  margin-top: 30px;
}

.header__logo {
  width: 70%;
  align-items: center;
  padding-left: 20px;
  order: 1;
}

.header__navigation
/* hébergements et navigation*/

  {
  display: block;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  order: 3;
}

.header__inscription
/*s'inscrire*/

  {
  width: 25%;
  justify-content: flex-end;
  order: 2;
}

nav ul {
  display: flex;
  /*aligne les div dans le menu navigation*/
  margin: 0px;
  padding: 0px;
}

nav li {
  display: block;
}

a {
  display: inline-block;
}

.block
/* menu de navigation */

  {
  width: 100%;
  border-bottom: solid;
  border-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.block a {
  color: black;
}

.block:hover
/* trait bleu en dessous du menu navigation*/

  {
  border-bottom: solid;
}

/*Début de page*/

/*section1*/

.section1head {
  margin: 40px;
}

.section1head h1 {
  font-size: 22px;
}

.section1head__texte {
  margin-top: 16px;
  margin-bottom: 23px;
}

/* bloc recherche */

.section1__search1 {
  height: 100%;
  width: 100%;
  margin-top: 35px;
  padding-left: 20px;
}

.section1head {
  margin-left: 20px;
  font-size: 1.1rem;
}

.search1__picture
/*icone avant le formulaire*/

  {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f2f2f2;
  border: solid #f2f2f2f6;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 50px;
  width: 50px;
}

#site-search
/*formulaire*/

  {
  width: 250px;
}

.boutton_mot {
  display: none;
}

.boutton_loupe
/*boutton de recherche du formulaire*/

  {
  border: solid #0065fcf6;
  background-color: #0065fc;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  width: 50px;
  height: 50px;
  margin: -20px;
  color: white;
}

/* incone de l'onglet filtre*/

.section1__filtres {
  flex-wrap: wrap;
  margin-top: 15px;
  /*influe sur la position de la ligne*/
  margin-bottom: 20px;
  margin-left: 20px;
}

.versionxs {
  display: flex;
  margin-right: 10px;
}

.rubrique {
  margin-bottom: -2px;
}


.filters__titre {

  width: 100%;
  margin-right: 25px;
}

.filters__titre h4 {
  margin: 18px 0px;
}

.theme {
  
  margin-bottom: 14px;
  margin-left: 0px;
}


.section1__info {
 
  flex-wrap: wrap;
  margin: 0px 24px 20px 20px;

  justify-content: center;
}

.info__texteinfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0px 0px 10px;

  width: 90%;
}



/*milieu de page*/

.midcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

/* section2 hebergements*/

#section2 {
  display: flex;
  flex-wrap: wrap;
  order: 2;
  justify-content: space-between;
  border-radius: 16px;
}

/*titre*/

.section2head {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 20px;
}

/*body section 2 pannel des offres*/

.section2body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 16px;
  margin: 0px 20px;
}

.pic2 {
  width: 100%;
  height: 114px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.section2__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 4px 3px 15px 2px #e9e5e5;
  margin-bottom: 10px;
}

.texte2__header {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 15px;
  color: black;
}

.texte2__body {
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 15px;
  color: black;
  font-weight: 400;
  /*epaisseur de la police du texte de description*/
}

.texte2__footer {
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 15px;
}

/* section 3 les plus populaires*/

#section3 {
  display: flex;
  flex-wrap: wrap;
  order: 1;
  width: 100%;
  background-color: #f2f2f2;
}

.section3head {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.section3head__texte {
  display: flex;
  width: 100%;
  margin: 43px 0px 35px 20px;
}

.section3head__item {
  display: flex;
  font-size: 1.3rem;
  margin-top: 43px;
  margin-right: 20px;
}

/*body pannel des offres*/

.section3body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  justify-content: center;
}

.section3__row {
  display: flex;
  background-color: white;
  margin: 0px 20px 10px 20px;
  padding: 5px 5px;
  border-radius: 16px;
  box-shadow: 4px 3px 15px 2px #e9e5e5;
}

.section3__picture {
  width: 70%;
}

.section3__picture img {
  height: 134px;
  width: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  object-fit: cover;
  background-color: blueviolet;
}

.section3__texte3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 0px 5px 25px;
}

.texte3__header {
  margin-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: black;
}

.texte3__body {
  margin-top: 10px;
  margin-bottom: 0px;
  color: black;
  font-weight: 400;
}

.texte3__footer i {
  margin-top: 45px;
  margin-bottom: 0px;
}

.section2__footer a {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 600;
  margin: 20px;
  margin-left: 20px;
}

/*Fin de page*/

/* section4 activités*/

#section4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.section4head
/*titres des images dans la section4 -> activités*/

  {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.section4body {
  width: 100%;
  margin: 0 20px;
  margin-bottom: 30px;
}

.section4__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.section4body__row {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  border-radius: 16px;
  box-shadow: 4px 3px 15px 2px #e9e5e5;
  margin-bottom: 22px;
}

.section4__picture img {
  width: 100%;
  height: 131px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  object-fit: cover;
}

.section4__title4 {
  padding: 20px 10px;
  color: black;
}

footer {
  width: 100%;
  height: 486px;
  background-color: #f2f2f2;
  padding-top: 45px;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  flex-direction: column;
}

.row__titre {
  margin-bottom: 25px;
}

.footer__row a {
  color: black;
}

.footer__row p {
  margin-bottom: 15px;
  font-weight: 300;
}

.p1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.p2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.p3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}