.main{
  max-width: 768px;
  padding-left: inherit;
}

header{
  height: 100%;
  background-color: lawngreen;
}

.header__row {
  margin-top:30px;
  flex-wrap: wrap;
}

.header__logo {
  width: 50%;
  padding-left: 20px;
  order: 1;
}

.header__navigation  {
/* hébergements et navigation*/
width: 100%;
margin-top: 40px;
order: 3;
}
/*
nav
nav ul
nav li
a
*/

/* menu de navigation */
.block{
  border-bottom: solid;
  border-color: #f2f2f2;
  padding-bottom: 20px;
}

.block a{
 color:black;
}

.header__inscription {
/*s'inscrire*/
  width: 25%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  order: 2;
}




/*--------section1 - debut de page-------------*/



.section1head {
  margin: 40px;
}

.section1head h1 {
  font-size: 22px;
}

/* champs dans le quel se trouve la bare de recherche (formulaire)*/

.section1__search1 {

  height: 100%;
  width: 100%;
  margin-top: 35px;
  padding-left: 20px;
}

.section1head {
  margin-left: 20px;
  font-size: 1.1rem;
}

.boutton_mot {
  display: none;
}

.boutton_loupe  {
/*boutton de recherche du formulaire*/
  border: solid #0065fcf6;
  background-color: #0065fc;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  width: 50px;
  height: 50px;
  margin: -20px;
  color: white;
}

/* incone de l'onglet filtre*/

.section1__filtres {
  /*influe sur la position de la ligne*/
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.versionxs {
  /*espace entre les rubriques*/
  display: flex;
  margin-right: 20px;
}

.iconefilter {

  font-size: 1.2em;
  margin-right: 11px;
}

.filters__titre {
  width: 100%;
}

.filters__titre h4 {
  margin: 18px 0px;
}

.theme {
  margin-bottom: 14px;
  flex-direction: row-reverse;
}

.sujet {
  margin-right: 18px;
}

.section1__info {
  flex-wrap: wrap;
  margin: 0px 24px 20px 20px;
  justify-content: center;
}

.info__texteinfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0px 0px 10px;
  margin-bottom: 25px;
  width: 90%;
}

.info__picture { 
  /*reglage de la taille du petit i*/
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

/*milieu de page*/

.midcontainer {
  flex-direction: column;
  justify-content: space-between;
}

/* section2 hebergements*/

#section2 {
  flex-wrap: wrap;
  order: 2;
  justify-content: space-between;
}

/*titre*/

.section2head {

  justify-content: flex-start;
  width: 100%;
  margin-top: 40px;
  padding-left: 20px;
}

/*body section 2 pannel des offres*/

.section2body {
  flex-wrap: wrap;
  width: 100%;
  border-radius: 16px;
  margin: 0px 20px;
}

.section2__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.pic2 {
  width: 100%;
}

.texte2__header {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 15px;
  color: black;
}

.texte2__body {
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 15px;
  color: black;
  font-weight: 400;
  /*epaisseur de la police du texte de description*/
}

.texte2__footer {
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 15px;
}

.section2__footer a {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 20px;
  margin-left: 20px;
}

/* section 3 les plus populaires*/

#section3 {
  display: flex;
  flex-wrap: wrap;
  order: 1;
  width: 100%;
}

.section3head {

  justify-content: space-around;
  width: 100%;
}

.section3head__texte {
  display: flex;
  width: 100%;
  margin: 43px 0px 35px 20px;
}

.section3head__item {
  display: flex;
  font-size: 1.3rem;
  margin-top: 43px;
  margin-right: 20px;
}

/*body pannel des offres*/

.section3body {

  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  justify-content: center;
}

.section3__row {
  margin: 0px 20px 10px 20px;
}

.section3__picture {
  width: 70%;
}

.section3__picture img {
  height: 134px;
  width: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  object-fit: cover;
  background-color: blueviolet;
}

.section3__texte3 {

  width: 100%;
  margin: 0px 0px 5px 25px;
}

.texte3__header {
  margin-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: black;
}

.texte3__body {
  margin-top: 10px;
  margin-bottom: 0px;
  color: black;
  font-weight: 400;
}

.texte3__footer i {
  margin-top: 45px;
  margin-bottom: 0px;
}

/*Fin de page*/
/* section4 activités*/

.section4head
/*titres des images dans la section4 -> activités*/

  {

  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.section4body {
  margin: 0 20px;
  margin-bottom: 30px;
}



.section4body__row {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  border-radius: 16px;
  box-shadow: 4px 3px 15px 2px #e9e5e5;
  margin-bottom: 22px;
}
.section4__container {

  flex-wrap: wrap;
  width: 100%;
}

.section4__title4 {
  padding: 20px 10px;
}

.section4__picture img {
  width: 100%;
  height: 131px;
  object-fit: cover;
}

footer {
  height: 486px;
  padding-top: 45px;
}

.footer__row {
  flex-wrap: wrap;
  margin-left: 20px;
  flex-direction: column;
}


.footer__row a {
  color: black;
}

.footer__row p {
  margin-bottom: 15px;

}

.p1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.p2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.p3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}