*
{
  padding: 0;
  margin: 0;
  border:0;
}
*,*:before,*:after
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline:none;}
a:focus, a:active{outline:none;}

nav, footer, header, aside{display:block}

html, body
{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear{display:none}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0 border:0;}
a, a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
ul, li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

/* Header */

header {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  width: 1340px;
  margin: auto;
  color: #0065fc;
}

.logo {
  display: flex;
  width: 70%;
}

.navigation {
  display: flex;
}

nav ul {
  display: flex; /*aligne les div dans le menu navigation*/
  margin: 0px;
  padding: 0px;
}

nav li {
  display: block;
  margin: 0 15px; /*espace les elements du menu navigation entreux eux*/
  padding-left: 20px;
}

a {
  display: inline-block;
  color: #0065fc;
  font-weight: 600;
}

.block {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav1 a {
  color: black;
}

.nav2 a {
  color: black;
}

.block:hover {
  border-top: solid;
  margin-top: -5px;
  border-color: #0065fc;
}

.inscription {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10%;
}

/*Début de page*/

/*section1*/

#section1 {
  width: 1340px;
  max-width: 100%;
  margin: auto;
}

/* bloc recherche */

.search {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.iconeposition {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f2f2f2;
  border: solid #f2f2f2;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 46px;
  width: 50px;
}

#site-search/*formulaire*/ {
  height: 50px;
  width: 237px;
  border-top: solid;
  border-bottom: solid;
  border-right: none;
  border-left: none;
  border-color: #f2f2f2;
  font-weight: bold;
}

.boutton_mot {
  border: solid #0065fc;
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 8em;
  height: 50px;
  margin: -5px;
}
.boutton_loupe {
  display: none;
}
.boutton_mot:hover {
  cursor: pointer;
}

.filtres {
  display: flex;
  align-items: center;
  margin-top: 30px; /*influe sur la position de la ligne*/
  margin-bottom: 26px;
}

.rubrique {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  border: 3px #f2f2f2 solid;
  border-radius: 45px;
  height: 48px;
  margin-bottom: -2px;
  margin-top: -2px;
  margin-left: -2px;
}

.rubrique:hover /*option survol des rubriques filtres*/ {
  border: solid;
  border-color: #f2f2f2;
  color: red;
  cursor: pointer;
}
.iconefilter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  color: #0065fc;
  background-color: #deebff;
  width: 2.5em;
  height: 2.5em;
  border-radius: 34px;
  padding: 1px;
  margin-right: 13px;
  margin-bottom: -2px;
  margin-top: -2px;
  margin-left: -2px;
}

.titre {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 25px;
}
.theme {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: 0px;
  margin-right: 40px;
}

.sujet {
  margin-right: 20px;
  font-weight: bold;
  font-size: 1em;
}

.info {
  display: flex;
  align-items: center;
}
.texteinfo {
  padding: 0 0 0 15px;
  margin-bottom: 20px;
}
.iconeinfo {
  font-size: 0.6em; /*reglage de la taille du petit i*/
  color: #0065fc;
  border: solid;
  border-color: #f2f2f2;
  width: 1.1em;
  height: 1.1em;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
}

/*milieu de page*/

.maincontainer {
  display: flex;
  width: 1340px;
  max-width: 100%;

  margin: auto;
  justify-content: space-between;
}

/* section2 hebergements*/

#section2 {
  justify-content: space-between;
  background-color: #f2f2f2;

  border-radius: 16px;
}

/*titre*/

.titre2 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
}

/*body section 2 pannel des offres*/

.section2body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 16px;
  max-width: 880px;
}

.element2images {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.element2 {
  display: inline-block;
  background-color: white;
  max-width: 250px;
  max-height: 200px;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 4px 3px 15px 2px #e9e5e5;
}

.element2 h4 {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 15px;
  color: black;
}

.element2 p {
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 15px;
  color: black;
  font-weight: 400; /*epaisseur de la police du texte de description*/
}

.information a {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 600;
  margin-left: 30px;
  padding-top: 20px;
}
/* section 3 les plus populaires*/

#section3 {
  display: flex;
  flex-wrap: wrap;
  width: 413px;
  height: 627px;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 16px;
}

.section3head {
  display: flex;
  justify-content: space-around;
  width: 413px;
  height: 10%;
}

.titre3 {
  display: flex;
  height: 10%;
  margin-left: 0px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.icone3 {
  display: flex;
  justify-items: baseline;
  height: 10%;
  margin-top: 20px;
}

/*body pannel des offres*/

.section3body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 80%;
}

.element3 {
  display: inline-flex;
  background-color: white;
  width: 342px;
  height: 134px;
  padding: 5px 5px;
  border-radius: 16px;
  margin-bottom: 30px;
  box-shadow: 4px 3px 15px 2px #e9e5e5;
}
.element3images {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.element3description {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.element3description h4 {
  margin-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: black;
}

.element3description p {
  color: black;
  font-weight: 400;
}
.element3description i {
  margin-top: 10px;
}

/*Fin de page*/

/* section4 activités*/

#section4 {

  display:flex;
  flex-wrap: wrap;
  max-width: 1340px;  
  margin: auto;
  padding-bottom: 40px;
  background-color: crimson;
}

.section4head/*titres des images dans la section4 -> activités*/ {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 25px;
}
.section4body {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
  background-color: darkkhaki;

}

.block4
{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.element4images
{
  box-shadow: 4px 3px 15px 2px #e9e5e5;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
}

.portrait{
  width:304px;
  height:390px;
  object-fit: cover;
}

.paysage{
  width:300px;
  height:181px;
  object-fit: cover;
}

.paysage2{
  width:300px;
  height:110px;
  object-fit: cover;
}

.paysage3{
  width:300px;
  height:140px;
  object-fit: cover;
}

.paysage4{
  width:300px;
  height:150px;
  object-fit: cover;
}

.titres4
{
  background-color: white;
  color:black;
  min-height: 55px;
  padding: 20px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 4px 3px 15px 2px #e9e5e5;
}

/*Footer*/

footer {
  display: flex;
  max-width: 100%;
  height: 219px;
  background-color: #f2f2f2;
}

.wrapper5 {
  display: flex;
  width: 100%;
  margin-top: 0;
  padding-top: 47px;
  padding-left: 90px;
  padding-bottom: 0px;
  margin-bottom: 0px;

}
.p1 {
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.p2 {
  padding-left: 250px;
  margin-bottom: 0px;
}

.p3 {
  padding-left: 280px;
  margin-bottom: 0px;
}
.titrefooter {
  padding-bottom: 20px;
}
.wrapper5 p
{
  margin-top: 10px;