@-moz-document url-prefix() {
	.pic2 {
		min-width: 275px;
	}
	.section4body__row {
		min-width: 280px;
	}
}

.header__row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 30px;
}

.header__logo {
	display: flex;
	width: 70%;
	align-items: center;
	padding-left: 20px;
	order: 1;
}

.header__navigation
/* hébergements et navigation*/

	{
	display: block;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	font-size: 16px;
	order: 3;
}

.header__inscription
/*s'inscrire*/

	{
	display: flex;
	width: 25%;
	align-items: center;
	justify-content: flex-end;
	order: 2;
}

.header__inscription a {
	color: #0065fc;
}

nav ul {
	display: flex;
	/*aligne les div dans le menu navigation*/
	margin: 0px;
	padding: 0px;
}

nav li {
	display: block;
}

a {
	display: inline-block;
	font-weight: 600;
}

.block
/* menu de navigation */

	{
	display: flex;
	width: 100%;
	border-bottom: solid;
	border-color: #f2f2f2;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding-bottom: 20px;
}

.block a
/* menu de navigation */

	{
	color: black;
}

.block:hover
/* trait bleu en dessous du menu navigation*/

	{
	border-bottom: solid;
	/*trait de soulignement au passage du curseur*/
	border-color: #0065fc;
}

/*--------section1 - debut de page-------------*/

#section1 {
	width: 100%;
}

.section1head {
	margin: 40px;
}

.section1head h1 {
	font-size: 22px;
}

.section1head__texte {
	margin-top: 16px;
	margin-bottom: 23px;
}

/* champs dans le quel se trouve la bare de recherche (formulaire)*/

.section1__search1 {
	display: flex;
	height: 100%;
	width: 100%;
	margin-top: 35px;
	padding-left: 20px;
}

.section1head {
	margin-left: 20px;
	font-size: 1.1rem;
}

.search1__picture
/*icone avant le formulaire*/

	{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #f2f2f2;
	border: solid #f2f2f2f6;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	height: 50px;
	width: 50px;
}

#site-search
/*formulaire*/

	{
	justify-content: center;
	height: 50px;
	width: 90%;
	border-top: solid;
	border-bottom: solid;
	border-right: none;
	border-left: none;
	border-color: #f2f2f2;
	font-weight: bold;
}

.boutton_mot {
	display: none;
}

.boutton_loupe
/*boutton de recherche du formulaire*/

	{
	border: solid #0065fcf6;
	background-color: #0065fc;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	width: 50px;
	height: 50px;
	margin: -20px;
	color: white;
}

/* incone de l'onglet filtre*/

.section1__filtres {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	/*influe sur la position de la ligne*/
	margin-bottom: 20px;
	margin-left: 20px;
}

.versionxs {
	display: flex;
	margin-right: 10px;
}

.rubrique {
	display: flex;
	border: 3px #f2f2f2 solid;
	border-radius: 45px;
	height: 48px;
	margin-bottom: -2px;
	margin-top: -2px;
	margin-left: -2px;
}

.rubrique:hover
/*option survol des rubriques filtres*/

	{
	border: solid;
	border-color: #f2f2f2;
	color: red;
}

.filters__titre {
	width: 100%;
	margin-right: 25px;
}

.filters__titre h4 {
	margin: 18px 0px;
}

.theme {
	display: flex;
	margin-bottom: 14px;
	flex-direction: row-reverse;
	align-items: center;
	margin-left: 0px;
}

.section1__info {
	flex-wrap: wrap;
	margin: 0px 24px 20px 20px;
	justify-content: center;
}

.info__texteinfo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px 0px 0px 10px;
	width: 90%;
}

/*milieu de page*/

.midcontainer {
	flex-direction: column;
	justify-content: space-between;
}

/* section2 hebergements*/

#section2 {
	flex-wrap: wrap;
	order: 2;
	justify-content: space-between;
	border-radius: 16px;
}

/*titre*/

.section2head {
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 30px;
	padding-left: 20px;
}

/*body section 2 pannel des offres*/

.section2body {
	width: 100%;
	border-radius: 16px;
	margin: 0px 20px;
}

.pic2 {
	width: 100%;
	height: 114px;
}

.section2__row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
}

.texte2__header {
	margin-top: 5px;
	margin-bottom: 0px;
	padding-left: 15px;
	color: black;
}

.texte2__body {
	margin-top: 5px;
	margin-bottom: 0;
	padding-left: 15px;
	color: black;
	/*epaisseur de la police du texte de description*/
}

.texte2__footer {
	margin-bottom: 0;
	padding-left: 15px;
}

/* section 3 les plus populaires*/

#section3 {
	display: flex;
	flex-wrap: wrap;
	order: 1;
	width: 100%;
	background-color: #f2f2f2;
}

.section3head {
	justify-content: space-around;
	width: 100%;
}

.section3head__texte {
	display: flex;
	width: 100%;
	margin: 43px 0px 35px 20px;
}

.section3head__item {
	display: flex;
	font-size: 1.3rem;
	margin-top: 43px;
	margin-right: 20px;
}

.section2__footer a {
	display: flex;
	align-items: center;
	margin: 20px;
	margin-left: 20px;
}

/*body pannel des offres*/

.section3body {
	flex-direction: column;
	width: 100%;
	margin-bottom: 30px;
	justify-content: center;
}

.section3__row {
	display: flex;
	background-color: white;
	margin: 0px 20px 10px 20px;
}

.section3__picture {
	width: 70%;
}

.section3__picture img {
	height: 134px;
	width: 100%;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	object-fit: cover;
}

.section3__texte3 {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0px 0px 5px 25px;
}

.texte3__header {
	margin-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: black;
}

.texte3__body {
	margin-top: 10px;
	margin-bottom: 0px;
	color: black;
}

.texte3__footer i {
	margin-top: 45px;
	margin-bottom: 0px;
}

/*Fin de page*/

/* section4 activités*/

.section4head
/*titres des images dans la section4 -> activités*/

	{
	margin-top: 40px;
	margin-bottom: 30px;
	padding-left: 20px;
}

.section4body {
	width: 100%;
	margin: 0 20px;
	margin-bottom: 30px;
}

.section4__container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.section4body__row {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	width: 100%;
	border-radius: 16px;
	box-shadow: 4px 3px 15px 2px #e9e5e5;
	margin-bottom: 22px;
}

.section4__picture img {
	width: 100%;
	height: 131px;
	object-fit: cover;
}

.section4__title4 {
	padding: 20px 10px;
	color: black;
}

/*Fin de page*/

/*Footer*/

footer {
	height: 486px;
	background-color: #f2f2f2;
	padding-top: 45px;
}

.footer__row {
	flex-wrap: wrap;
	margin-left: 20px;
	flex-direction: column;
}



.p1 {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.p2 {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}

.p3 {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}