/* Body */
html
{
    font: normal 1em raleway;
    width: 1440px;
    max-width: 100%;
}

h3
{
    margin-top: 0px;
    margin-bottom: 2px;
}


/* Header */

ul, nav
{
    list-style-type: none; /*on enleve les puces*/
    margin-top: 40px;
    align-items: center; /*cela les centre dans leurs Div*/
}

a
{
    text-decoration: none;
    cursor: pointer; /*curseur se transforme en petit doight quand on passe sur le champs*/
    opacity: 0.9;
}

a:hover
{
    opacity: 1; /*petit effet au survol*/
}

header
{
    /*position:absolute; /*relative à son element parent*/
    /*top: 0;
    left:0; /*pour pas qu'il bouge*/
    /*z-index: 10;permet de faire des couches, si index 10 alors index 9 sera en dessous*/
    /*largeur*/
    display: flex;
    width:1340px;
    max-width: 100%;
    margin:auto;
    justify-content: space-between;
    justify-items: center; /*cela les centre dans leurs Div*/
    color: #0065FC;
}

header nav ul
{
    display: flex; /*aligne les div dans le menu navigation*/
}
nav li 
{
    list-style-type: none; /*sans les puces*/
    margin: 0 15px; /*espace les elements du menu navigation entreux eux*/
    margin-top: -10px;
}


nav a:hover /*survol au dessus*/
{
    border: solid;
    border-color: blue;
    margin-top: 30px;
    color:red
}

@media (max-width: 992px){/*version tablette*/
    header
    {
        /*padding: 20px 100px; /*ajout de l'espace entre le logo et le menu nav par rapport à la marge */
    }
}

@media (max-width: 667px){ /*version mobile*/
    header
    {
        /*flex-direction: column; /*menu nav passe sous le logo*/
        display:flex;
        flex-wrap: wrap;
        width:667px; 
    }
    header nav
    {
        display: flex;
        width:667px;
        flex-wrap: wrap-reverse;
        
    }
    nav li 
    {
    display:flex;
    flex-wrap: wrap-reverse;
    list-style-type: none; /*sans les puces*/
    margin: 0 15px; /*espace les elements du menu navigation entreux eux*/
    }
    #section1
    {
    width: 667px;
    margin:auto;
    }
    .filtres
    {
    display: flex;
    flex-wrap: wrap;
    }
}

/*section1*/

#section1
{
    width: 1340px;
    max-width: 100%;
    margin:auto;
}

/* bloc recherche */

.search
{
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.iconeposition
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F2;
    border:solid #F2F2F2;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 46px;
    width: 50px;
}

#site-search/*formulaire*/
{
    height: 50px;
    border-top:solid;
    border-bottom:solid;
    border-right:none;
    border-left: none;
    border-color: #F2F2F2;
    font-weight: bold;
}

.boutton
{
    border:solid #0065FC;
    background-color:#0065FC;
    color: white;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 8em;
    height: 50px;
    margin:-5px;
}

.filtres
{
    display: flex;
}

.rubrique
{
    display: flex;
    flex:wrap;
    justify-items: center;
    border: 3px #F2F2F2 solid;
    border-radius: 45px;
    height: 48px;
    margin-bottom: -2px;
    margin-top: -2px;
    margin-left: -2px;
}

.rubrique:hover /*option survol des rubriques filtres*/
{
    border: solid;
    border-color: #F2F2F2;
    margin-top: 30px;
    color:red
}
.iconefilter
{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.2em;
        color: #0065FC;
        background-color: #DEEBFF;
        width: 2.5em;
        height: 2.5em;
        border-radius: 34px;
        padding: 1px;
        margin-right: 20px;
        margin-bottom: -2px;
        margin-top: -2px;
        margin-left: -2px;
}

.titre
{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 25px;    
}
.theme
{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 25px;
}

.sujet
{

    margin-right: 20px;
    font-weight: bold;
    font-size: 1em;
}

.info
{
    display: flex;
    align-items: center; 
}
.texteinfo
{
    padding:0 0 0 10px;
}
.iconeinfo
{
    font-size: 1em;
    color: #0065FC;
    border: solid;
    border-color: #F2F2F2;
    width: 1.1em;
    height: 1.1em;
    border-radius: 20px;
    text-align: center;
}

/*milieu de page*/

.maincontainer
{
    display: flex;
    width:1340px;
    max-width: 100%;
    height: 627px;
    margin:auto;
    justify-content: space-between;

}

/* section2 hebergements*/

#section2
{
    justify-content: space-between;
    background-color:#F2F2F2;
    height: 627px;
    border-radius: 16px;
}

/*titre*/

.titre2
{
    display:flex;
    height: 10%;
    margin-left:30px;
}

/*body section 2 pannel des offres*/

.section2body
{   
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    justify-content: space-around;
    border-radius: 16px;
    max-width: 880px;   
}

.element2images
{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.avis /*etoiles pleines*/
{
    color:#0065FC;
}
.uncheck /*etoiles vides*/
{
    color:#F2F2F2;
}

.element2
{
    display: inline-block;
    background-color: white;
    max-width: 250px;
    max-height: 200px;
    border-radius: 16px;
    padding: 5px;
    /*box-shadow: 0px 2px 0px grey;*/
}
.information
{
    display:flex;
    height: 10%;
    margin-left: 30px;
}
/* section 3 les plus populaires*/

#section3
{ 
    display:flex;
    flex-wrap: wrap;
    width: 413px;
    height: 627px;
    justify-items: space-between;
    background-color:#F2F2F2;
    border-radius: 16px;
}

.section3head
{
    display: flex;
    justify-content: space-around;
    width: 413px;
    height: 10%;
}

.titre3
{
    display:flex;
    height: 10%;
    margin-left: 0px;
    margin-right: 40px;

}
.icone3
{
    display:flex;
    justify-items:baseline;
    height: 10%;
}

/*body pannel des offres*/

.section3body
{
display:flex;
flex-wrap: wrap;
justify-content: space-around;
height: 90%;
}

.element3
{
    display: inline-flex;
    background-color:white;
    width:342px;
    height:144px;
    padding:5px 5px;
    border-radius:16px;
    
}
.element3images
{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.element3description
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
/* section4 activités*/

#section4
{
    
    
    max-width: 100%;
    width: 1340px;
    height: 627px;
    margin:auto;
    justify-content: space-around;

}.titre4
{
    height: 10%;    
}
.section4body
{
    display:flex;
    flex-wrap: wrap;
    height: 513px;
    justify-content: space-between;
    
}
.contanier4
{
    display: flex;
    height: 513px;
}
.element4
{
    background-color: white;
    border-radius: 16px;
    margin-bottom: auto;
    box-shadow: 10px 5px 5px #F2F2F2;
    padding-bottom: 20px;
}

.element4images
{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.frioul
{
    margin-top:36px;
    padding-bottom: 20px;
}
.longchamp
{
    margin-top: 20px;
    padding-bottom: 20px;
}
footer
{
    display:flex;
    width: 1440px;
    max-width: 100%;
    justify-content: space-between;
    background-color:#F2F2F2;
    padding-top: 30px;
}
.p1
{
    width: 33%;
    padding-left: 40px;
}
.p2
{
    width: 33%;

}
.p3
{
    width: 33%;
}
.titres4 /*titres des images dans la section4 -> activités*/
{
    padding-left: 10px;
}