/* Body */
*
{
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

header
{
    color: #0065FC;
}
nav li 
{
    list-style-type: none; /*sans les puces*/
}
nav a:hover /*survol au dessus*/
{
    color:red;
}
a
{
    text-decoration: none;
    cursor: pointer; /*curseur se transforme en petit doight quand on passe sur le champs*/
    opacity: 0.9;
}