
.wrapper
{
display:flex;
flex-wrap: wrap;
width: 100%;
}

.logo
{
   display:flex;
   align-items: center;
   width: 80%;
   order:1;

}

.navigation /* hébergements et navigation*/
{
   display:block;
   font-size: 16px;
   height: 2;
   width: 100%;
   order:3;
   align-items: center;
   justify-content: space-around;

}

.inscription /*s'inscrire*/
{
display:flex;
align-items: center;
justify-content: flex-end;
width:20%;
order:2;


}


nav ul
{   
display: flex; /*aligne les div dans le menu navigation*/

margin:0px;
padding: 0px;
}
nav li 
{
display: block;

margin: 0 15px; /*espace les elements du menu navigation entreux eux*/
padding-left: 20px;
}

a
{
display:inline-block;
color: #0065FC;
font-weight: 600;
}


.block /* menu de navigation */
{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
block-size:20px;
margin-top:20px ;
padding-bottom: 20px;

}

.block:hover /* trait bleu en dessous du menu navigation*/
{
border-bottom: solid; /*trait de soulignement au passage du curseur*/
border-color: #0065FC;
}



/*--------section1 - debut de page-------------*/



.wrapper1
{
display:block;
width:100%;
justify-content: space-around;
align-items: center;
}


.search /* champs dans le quel se trouve la bare de recherche (formulaire)*/

{
display:flex;
flex-direction: row;
padding-left: 5px;

}

.iconeposition /*icone avant le formulaire*/
{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
background-color: #F2F2F2;
border:solid #F2F2F2;
border-top-left-radius: 16px;
border-bottom-left-radius: 16px;
height: 48px;
width: 52px;
}

#site-search /*formulaire*/
{
height: 52px;
width:250px;
border-top:solid;
border-bottom:solid;
border-right:none;
border-left: none;
border-color: #F2F2F2;
font-weight: bold;
}

.boutton /*boutton de recherche du formulaire*/
{
border:solid #0065FC;
background-color:#0065FC;
border-top-right-radius: 16px;
border-top-left-radius: 16px;
border-bottom-right-radius: 16px;
border-bottom-left-radius:16px;
width: 50px;
height: 52px;
margin:-20px;
}

.boutton:before
{
   content:\01F50D;
   color:white;
}

/* incone de l'onglet filtre*/

.filtres
{
   display:flex;
   flex-wrap: wrap;
   margin-top: 30px;   /*influe sur la position de la ligne*/
   margin-bottom: 26px;
}

.versionxs
{
   display: flex;
   background-color: yellow;
}

.rubrique
{
   border: 3px #F2F2F2 solid;
   border-radius: 45px;
   height: 48px;
   margin-bottom: -2px;
   margin-top: -2px;
   margin-left: -2px;
}

.rubrique:hover /*option survol des rubriques filtres*/
{
   border: solid;
   border-color: #F2F2F2;
   color:red
}
.iconefilter
{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 1.2em;
   color: #0065FC;
   background-color: #DEEBFF;
   width: 2.5em;
   height: 2.5em;
   border-radius: 34px;
   padding: 1px;
   margin-right: 13px;
   margin-bottom: -2px;
   margin-top: -2px;
   margin-left: -2px;
}

.titre
{
   display:flex;
   width: 100%;
   margin-right: 25px;    
}
.theme
{
   display:flex;
   margin-bottom: 14px;
   flex-direction: row-reverse;
   align-items: center;
   margin-left: 0px;


}

.sujet
{
   margin-right: 20px;
   font-weight: bold;
   font-size: 1em;
}

.info
{
   display: flex;
   align-items: center; 
}
.texteinfo
{
   padding:0 0 0 15px;
   margin-bottom: 20px;
}
.iconeinfo
{
   font-size: 0.6em; /*reglage de la taille du petit i*/
   color: #0065FC;
   border: solid;
   border-color: #F2F2F2;
   width: 1.1em;
   height: 1.1em;
   border-radius: 20px;
   text-align: center;
   margin-bottom: 20px;
   }

      /*-------sections 2 et 3 ----------milieu de page---------------------------*/

      .wrapper23
      {
         display:flex;
         flex-direction: column;
         width: 100%;
      }


      .maincontainer
      {
      display: flex;
      flex-wrap:  wrap;
      width:100%;
      margin:auto;
      justify-content: space-between;

      }


         /* ------------------section 3 les plus populaires-----------------------*/

         #section3
         { 
         display:flex;
         flex-wrap: wrap;
         order:1;
         width: 100%;
         justify-items: space-between;
         background-color:#F2F2F2;
         border-radius: 16px;
         }

         .section3head
         {
         display: flex;
         justify-content: space-around;
         width: 100%;

         }
         
         .titre3
         {

         display:flex;
         justify-content: flex-start;
         width: 100%;
         margin: 40 0 20 0px;
         padding-left: 15px;

         }
         .icone3
         {
         display:flex;
         justify-items:baseline;
         }

         /*body pannel des offres*/

         .section3body
         {
         display:flex;
         flex-wrap: wrap;
         width: 100%;
         margin-bottom: 20px;
         justify-content: space-around;
         }

         .element3
         {
         display: inline-flex;
         background-color:white;
         width:342px;
         margin-bottom: 10px;
         padding:5px 5px;
         border-radius:16px;

         }
         .element3images
         {
         width: 127px;
         border-top-left-radius: 16px;
         border-bottom-left-radius: 16px;
         }
         
         .element3description
         {
         margin-left: 10px;
         }

         .element3description h4
         {
         margin-top: 10px;
         padding-bottom: 0px;
         margin-bottom: 0px;
         color:black;
         }

         .element3description p
         {
         color:black;
         font-weight: 400;
         }
         .element3description i
         {
         margin-top: 10px;
   }



      /* -----------------------------section2 hebergements-------------------------------*/

      #section2
      {
      display: flex;
      flex-wrap: wrap;
      order:2;
      justify-content: space-between;
      border-radius: 16px;;
      }

      /*titre*/

      .titre2
      {
      display:flex;
      justify-content: flex-start;
      width: 100%;
      margin: 40 0 20 0px;
      padding-left: 15px;
      }

      /*body section 2 pannel des offres*/

      .section2body
      {   
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
      border-radius: 16px;
      }

      .element2images
      {
      width: 325px;
      height: 114px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      }

      .element2
      {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width:auto;
      background-color:white;
      border-radius: 16px;
      padding: 5px;
      box-shadow: 10px 5px 5px #e9e5e5;
      margin-bottom: 15px;
      }

      .element2 h4
      {
      margin-top: 5px;
      margin-bottom: 0px;
      padding-left: 15px;
      color:black;
      }

      .element2 p
      {
      margin-top: 5px;
      margin-bottom: 0;
      padding-left: 15px;
      color:black;
      font-weight: 400; /*epaisseur de la police du texte de description*/
      }

      .information a
      {
      display:flex;
      align-items: center;
      color:black;
      font-weight: 600;
      margin:15px;
      margin-left: 20px;
      }

/*----------------------------------Fin de page----------------------------------------*/


/* ---------------------------------section4 activités---------------------------------*/

            .wrapper4
            {
            display:flex;
            flex-wrap: wrap;
            min-width: 100%;
            justify-content: space-around;
            }

            .section4body 
            {
               display: flex;
               flex-wrap: wrap;
               justify-content: space-around;
               margin-bottom: 30px;

            }
            .contenaire4
            {
               display: flex;
               flex-wrap: wrap;
               justify-content: space-around;
            }

            .titre4 h2/*titres des images dans la section4 -> activités*/
            {
               display:flex;
               justify-content: flex-start;
               width: 100%;
               margin: 40 30 25 0px;
               padding-left: 15px; 
            }


            .element4
            {
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-bottom: 20px;
            border-radius: 16px;
            box-shadow: 10px 5px 5px #F2F2F2;
            }

            .element4images
            {
            width: 333px;
            height: 133px;
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
            }

            .section4body h4
            {
            padding-left: 10px;
            color:black;
            }



            
/*----------------------------------------Footer------------------------------------------*/

footer
{
display:flex;
flex-wrap: wrap;
flex-direction: column;
width: 100%;
padding-top: 20px;
padding-left: 20px;
background-color:#F2F2F2;
}

