

h4
{
margin-top: 0px;
margin-bottom: 2px;
}

/* Header */

header
{
display: flex;
margin: auto;
justify-content: space-between;

}

.wrapper
{
display:flex;
width: 1340px;
margin:auto;
color: #0065FC;
}

.logo
{
display:flex;
width: 70%;

}

.navigation
{
    display:flex;
  
}


nav ul
{   
display: flex; /*aligne les div dans le menu navigation*/
margin:0px;
padding: 0px;
}
nav li 
{
display: block;
margin: 0 15px; /*espace les elements du menu navigation entreux eux*/
padding-left: 20px;
}

a
{
display:inline-block;
color: #0065FC;
font-weight: 600;
}

.block
{
block-size: 100px;
display:flex;
align-items: center;
padding-left:30px;
padding-right:30px;
}

.block:hover
{
border-top: solid;
border-color: #0065FC;
}

.inscription
{
display:flex;
align-items: center;
justify-content: center;
min-width: 10%;
}

/*Début de page*/

/*section1*/


    #section1
    {
    width: 1340px;
    max-width: 100%;
    margin:auto;
    }

    /* bloc recherche */

    .search
    {
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    }

    .iconeposition
    {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F2;
    border:solid #F2F2F2;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 46px;
    width: 50px;
    }

    #site-search/*formulaire*/
{
    height: 50px;
    border-top:solid;
    border-bottom:solid;
    border-right:none;
    border-left: none;
    border-color: #F2F2F2;
    font-weight: bold;
}

.boutton
{
    border:solid #0065FC;
    background-color:#0065FC;
    color: white;
    font-weight: 600;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 8em;
    height: 50px;
    margin:-5px;
}

.filtres
{
    display: flex;
    align-items: center;
    margin-top: 30px;   /*influe sur la position de la ligne*/
    margin-bottom: 26px;
}

.rubrique
{
    display: flex;
    flex:wrap;
    justify-items: center;
    border: 3px #F2F2F2 solid;
    border-radius: 45px;
    height: 48px;
    margin-bottom: -2px;
    margin-top: -2px;
    margin-left: -2px;
}

.rubrique:hover /*option survol des rubriques filtres*/
{
    border: solid;
    border-color: #F2F2F2;
    color:red
}
.iconefilter
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    color: #0065FC;
    background-color: #DEEBFF;
    width: 2.5em;
    height: 2.5em;
    border-radius: 34px;
    padding: 1px;
    margin-right: 13px;
    margin-bottom: -2px;
    margin-top: -2px;
    margin-left: -2px;
}

.titre
{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 25px;    
}
.theme
{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 0px;
    margin-right: 40px;

}

.sujet
{
    margin-right: 20px;
    font-weight: bold;
    font-size: 1em;
}

.info
{
    display: flex;
    align-items: center; 
}
.texteinfo
{
    padding:0 0 0 15px;
    margin-bottom: 20px;
}
.iconeinfo
{
    font-size: 0.6em; /*reglage de la taille du petit i*/
    color: #0065FC;
    border: solid;
    border-color: #F2F2F2;
    width: 1.1em;
    height: 1.1em;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    }

        /*milieu de page*/

        .maincontainer
        {
        display: flex;
        width:1340px;
        max-width: 100%;
        height: 627px;
        margin:auto;
        justify-content: space-between;

        }

        /* section2 hebergements*/

        #section2
        {
        justify-content: space-between;
        background-color:#F2F2F2;
        height: 627px;
        border-radius: 16px;
        }

        /*titre*/

        .titre2
        {
        display:flex;
        height: 10%;
        margin-left:30px;
        }

        /*body section 2 pannel des offres*/

        .section2body
        {   
        display: flex;
        flex-wrap: wrap;
        height: 80%;
        justify-content: space-around;
        border-radius: 16px;
        max-width: 880px;   
        }

        .element2images
        {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        }

        .element2
        {
        display: inline-block;
        background-color:white;
        max-width: 250px;
        max-height: 200px;
        border-radius: 16px;
        padding: 5px;
        box-shadow: 10px 5px 5px #e9e5e5;
        }

        .element2 h4
        {
        margin-top: 5px;
        margin-bottom: 0px;
        padding-left: 15px;
        color:black;
        }

        .element2 p
        {
        margin-top: 5px;
        margin-bottom: 0;
        padding-left: 15px;
        color:black;
        font-weight: 400; /*epaisseur de la police du texte de description*/
        }

        .information a
        {
        display:flex;
        align-items: center;
        color:black;
        font-weight: 600;
        margin-left: 30px;
        }
        /* section 3 les plus populaires*/

        #section3
        { 
        display:flex;
        flex-wrap: wrap;
        width: 413px;
        height: 627px;
        justify-items: space-between;
        background-color:#F2F2F2;
        border-radius: 16px;
        }

        .section3head
        {
        display: flex;
        justify-content: space-around;
        width: 413px;
        height: 10%;
        }

        .titre3
        {
        display:flex;

        margin-left: 0px;
        margin-right: 40px;

        }
        .icone3
        {
        display:flex;
        justify-items:baseline;
        }

        /*body pannel des offres*/

        .section3body
        {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 90%;
        }

        .element3
        {
        display: inline-flex;
        background-color:white;
        padding:5px 5px;
        border-radius:16px;

        }
        .element3images
        {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        }
        .element3description
        {
        display: flex;
        flex-direction: column;

        margin-left: 10px;
        }

        .element3description h4
        {
        margin-top: 10px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        color:black;
        }

        .element3description p
        {
        color:black;
        font-weight: 400;
        }
        .element3description i
        {
        margin-top: 10px;
}

/*Fin de page*/


            /* section4 activités*/

            .wrapper4
            {
            display:flex;
            width: 1340px;
            height: 615px;
            margin:auto;
            }

            #section4
            {
            width: 100%;
            }

            .titre4 h2/*titres des images dans la section4 -> activités*/
            {
            margin-top: 60px;
            margin-bottom: 25px;
            padding-left: 10px;    
            }
            .section4body
            {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 452px;
            justify-content: space-between;
            }
            .contenaire4
            {
            display:flex;
            flex-direction:column;
            max-height: 448px;
            justify-content: space-between;
            }

            .element4
            {
            background-color: white;
            border-radius: 16px;
            box-shadow: 10px 5px 5px #F2F2F2;
            padding-bottom: 20px;
            }

            .element4images
            {
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
            }

            .section4body h4
            {
            padding-left: 10px;
            color:black;
            }

/*Footer*/

                        footer
                {
                display:flex;
                height: 219px;
                margin-top: 0;
                padding-top: 47px;
                padding-left: 70px;
                background-color:#F2F2F2;
                }
                .p1
                {
                padding-left: 0px;
                }
                .p2
                {
                padding-left: 250px;
                }

                .p3
                {   
                padding-left: 280px;
                }
                .titrefooter
                {
                padding-bottom: 10px; 
                }