body
{
   margin:0;
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  background-color: violet;
}

.logo {
  display: flex;
  width: 70%;
  align-items: center;
  padding-left: 20px;
  order: 1;
}

.navigation /* hébergements et navigation*/ {
  
  display: block;
  width: 100%;
  height: 2;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  order: 3;
  
}

.inscription /*s'inscrire*/ {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: flex-end;
  order: 2;
}

nav ul {
  display: flex; /*aligne les div dans le menu navigation*/

  margin: 0px;
  padding: 0px;
}
nav li {
  display: block;
}

a {
  display: inline-block;
  color: #0065fc;
  font-weight: 600;
}

.block /* menu de navigation */ {
  display: flex;
  width: 100%;
  border-bottom: solid;
  border-color:grey;
  justify-content: center;
  align-items: center;
  block-size: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.block:hover /* trait bleu en dessous du menu navigation*/ {
  border-bottom: solid; /*trait de soulignement au passage du curseur*/
  border-color: #0065fc;
}

/*--------section1 - debut de page-------------*/

.wrapper1 {
  height: 100%;
  margin-top: 35px;
  padding-left: 20px;
 background-color: coral;

}

.trouvez h1{
  margin-top:0;
}

.trouvez p{
  margin:17px 0;
}

.search /* champs dans le quel se trouve la bare de recherche (formulaire)*/ {
  display: flex;
  width:100%;

}

.iconeposition /*icone avant le formulaire*/ {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f2f2f2;
  border: solid #f2f2f2;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 47px;
  width: 47px;
}

#site-search /*formulaire*/ {
  height: 52px;
  width: 250px;
  border-top: solid;
  border-bottom: solid;
  border-right: none;
  border-left: none;
  border-color: #f2f2f2;
  font-weight: bold;
}
.boutton_mot
{
   display:none;
}
.boutton_loupe /*boutton de recherche du formulaire*/ {
  border: solid #0065fc;
  background-color: #0065fc;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  width: 50px;
  height: 52px;
  margin: -20px;
}


/* incone de l'onglet filtre*/
.filtres
{
   display:flex;
   flex-wrap: wrap;
   margin-top: 15px;   /*influe sur la position de la ligne*/
   margin-bottom: 36px;
}

.versionxs
{
   display: flex;
   margin-right: 10px;
   background-color: yellow;
}

.rubrique
{
  display:flex; 
  border: 3px #F2F2F2 solid;
   border-radius: 45px;
   height: 48px;
   margin-bottom: -2px;
   margin-top: -2px;
   margin-left: -2px;
}

.rubrique:hover /*option survol des rubriques filtres*/
{
   border: solid;
   border-color: #F2F2F2;
   color:red
}
.iconefilter
{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 1.2em;
   color: #0065FC;
   background-color: #DEEBFF;
   width: 2.5em;
   height: 2.5em;
   border-radius: 34px;
   padding: 1px;
   margin-right: 11px;
   margin-bottom: -2px;
   margin-top: -2px;
   margin-left: -2px;
}

.titre
{
   display:flex;
   width: 100%;
   margin-right: 25px;
   
 
}
.titre h4
{
  margin:18px 0;
}
.theme
{
   display:flex;
   margin-bottom: 14px;
   flex-direction: row-reverse;
   align-items: center;
   margin-left: 0px;
}
.sujet {
  margin-right: 18px;
  font-weight: bold;
  font-size: 1em;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.texteinfo {
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 25px;
  overflow:right;
  width:90%
}
.iconeinfo {

  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 1em; /*reglage de la taille du petit i*/
  color: #0065fc;
  border: solid;
  border-color: #f2f2f2;
  width: 1.2em;
  height: 1.2em;
  border-radius: 20px;
  margin-bottom: 20px;
  position:relative;
  top:-13px;
}

/*milieu de page*/

.wrapper23 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

/* section2 hebergements*/

#section2 {
  display: flex;
  flex-wrap: wrap;
  order: 2;
  justify-content: space-between;
  border-radius: 16px;
}

/*titre*/

.titre2 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top:20px;
  margin-bottom:10px;
  padding-left: 20px;

}

/*body section 2 pannel des offres*/

.section2body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  border-radius: 16px;
}

.element2images {
  
  width: auto;
  height: 114px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.element2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 334px;
  background-color: white;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 10px 5px 5px #e9e5e5;
  margin-bottom: 10px;
}

.element2 h4 {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 15px;
  color: black;
}

.element2 p {
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 15px;
  color: black;
  font-weight: 400; /*epaisseur de la police du texte de description*/
}


/* section 3 les plus populaires*/

#section3 {
  display: flex;
  flex-wrap: wrap;
  order: 1;
  width: 100%;
  justify-items: space-between;
  background-color: #f2f2f2;
 
}

.section3head {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.titre3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top:20px;
  padding-left: 15px;
}
.icone3 {
  display: flex;
  margin-top:20px;
  margin-right:15px;
  align-items: center;
}

/*body pannel des offres*/

.section3body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-around;
}

.element3 {
  display: inline-flex;
  background-color: white;
  width: 334px;
  margin-bottom: 10px;
  padding: 5px 5px;
  border-radius: 16px;
}
.element3images {
  width: 127px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.element3description {
  margin-left: 10px;
}

.element3description h4 {
  margin-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: black;
}

.element3description p {
  margin-bottom:0px;
  color: black;
  font-weight: 400;
}
.element3description i {
  margin-top: 20px;
  margin-bottom:0px;
}
.information a {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 600;
  margin: 20px;
  margin-left: 20px;
}

/*Fin de page*/

/* section4 activités*/

.wrapper4 {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin: auto;
}

#section4 {
  width: 100%;
}

.titre4 h2/*titres des images dans la section4 -> activités*/ {
  margin-top: 45px;
  margin-bottom: 25px;
  padding-left: 10px;
}
.section4body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.contenaire4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.element4 {
  background-color: white;
  border-radius: 16px;
  box-shadow: 10px 5px 5px #f2f2f2;
  padding-bottom: 20px;
}

.element4images {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.section4body h4 {
  padding-left: 10px;
  color: black;
}

/*Footer*/

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f2f2f2;
}

/*Fin de page*/

/* section4 activités*/

.wrapper4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

#section4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: crimson;
}

.titre4 h2/*titres des images dans la section4 -> activités*/ {
  margin-top: 60px;
  margin-bottom: 25px;
  padding-left: 10px;
}
.section4body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 452px;
  justify-content: space-between;
}
.contenaire4 {
  display: flex;
  flex-direction: column;
  max-height: 448px;
  justify-content: space-between;
}

.element4 {
  background-color: white;
  border-radius: 16px;
  box-shadow: 10px 5px 5px #f2f2f2;
  padding-bottom: 20px;
}

.element4images {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.section4body h4 {
  padding-left: 10px;
  color: black;
}

/*Footer*/
