

.wrapper /*header*/
{
	display:flex;
	width:100%;
	background-color: chartreuse;
	align-items: center;
}

.block /* menu de navigation */
{
   block-size: 100px;
   display: flex;
   align-items: center;
   margin-right: 20px;
   padding-right:20px;
   margin-left: 20px;
   padding-left:20px;
}

.block:hover /* trait bleu en dessous du menu navigation*/
{
   border-bottom: solid; /*trait de soulignement au passage du curseur*/
   border-color: #0065FC;
}
/*section1 - debut de page*/

.search /* champs dans le quel se trouve la bare de recherche (formulaire)*/

{
   display:flex;
   background-color:red;
   flex-direction: row;
   text-align: center;
   align-items: center;
}

.iconeposition /*icone avant le formulaire*/
{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #F2F2F2;
   border:solid #F2F2F2;
   border-top-left-radius: 16px;
   border-bottom-left-radius: 16px;
   height: 46px;
   width: 50px;
}

#site-search /*formulaire*/
{
   height: 50px;
   border-top:solid;
   border-bottom:solid;
   border-right:none;
   border-left: none;
   border-color: #F2F2F2;
   font-weight: bold;
}

.boutton /*boutton de recherche du formulaire*/
{
   border:solid #0065FC;
   background-color:#0065FC;
   color: white;
   border-top-right-radius: 16px;
   border-bottom-right-radius: 16px;
   width: 8em;
   height: 50px;
   margin:-5px;
}

/* incone de l'onglet filtre*/

.iconefilter
{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-size: 1.2em;
color: #0065FC;
background-color: #DEEBFF;
width: 2.5em;
height: 2.5em;
border-radius: 34px;
padding: 1px;
margin-right: 20px;
margin-bottom: -2px;
margin-top: -2px;
margin-left: -2px;
}
